<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <!-- the targets to write to -->
    <targets>
        
        <target xsi:type="Console" name="console" layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
        <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" 
                layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" >
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
        </target>

        <!-- write logs to file  -->
        <target xsi:type="File" name="allfile" fileName="c:\temp\nlog-AspNetCore2-all-${shortdate}.log"
                layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
        
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <!-- 忽略微软的所有Info及以下等级的信息 -->
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
        <!-- 将日志输出到控制台 -->
        <logger name="*" minlevel="Trace" writeTo="coloredConsole" />
        
    </rules>
</nlog>